<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zzti.lsy.ninetingapp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //获取统计数据
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //使用步行AR导航，配置Camera权限
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qx6yIs55adKilIUP3Xk9NE5fAVQN9TdQ" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />


        <provider
            android:name=".utils.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <activity android:name=".MainActivity" />
        <activity android:name=".home.SuccessActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginTheme" />

        <!--设备列表-->
        <activity
            android:name=".home.device.DeviceListActivity"
            android:hardwareAccelerated="false" />

        <!--设备详情-->
        <activity android:name=".home.device.DeviceDetailActivity" />

        <!--地图详情-->
        <activity android:name=".home.device.MapActivity" />

        <!--设备录入-->
        <activity
            android:name=".home.device.DeviceInputActivity"
            android:windowSoftInputMode="adjustResize" />

        <!--设备录入保险年审-->
        <activity android:name=".home.device.YearInsuranceActivity" />

        <!--设备入库列表-->
        <activity
            android:name=".home.device.DeviceInputListActivity"
            android:hardwareAccelerated="false" />

        <!--设备入库详情-->
        <activity android:name=".home.device.DeviceInputDetailActivity" />

        <!--设备出库列表-->
        <activity
            android:name=".home.device.DeviceOutputListActivity"
            android:hardwareAccelerated="false" />

        <!--设备出库-->
        <activity android:name=".home.device.DeviceOutputActivity" />

        <!--设备出库详情-->
        <activity android:name=".home.device.DeviceOutputDetailActivity" />

        <!--设备表格查看-->
        <activity android:name=".home.device.DeviceFormActivity" />

        <!--设备保险和年审-->
        <activity
            android:name=".home.device.BxNsActivity"
            android:hardwareAccelerated="false" />

        <!--生产录入-->
        <activity
            android:name=".home.production.ProductInputActivity"
            android:windowSoftInputMode="adjustResize" />
        <!--生产表格-->
        <activity android:name=".home.production.FormListActivity" />
        <!--单车生产明细-->
        <activity android:name=".home.production.OneCarProDetailActivity" />

        <activity android:name=".home.production.StatisticDetialListActivity" />

        <!--配件录入-->
        <activity
            android:name=".home.parts.PartsInputActivity"
            android:windowSoftInputMode="adjustResize" />
        <!--配件列表-->
        <activity
            android:name=".home.parts.PartsListActivity"
            android:hardwareAccelerated="false" />

        <!--配件详情-->
        <activity android:name=".home.parts.PartsDetailActivity" />

        <!--配件在库详情-->
        <activity android:name=".home.parts.PartsInWayDetailActivity" />


        <!--配件出库列表-->
        <activity android:name=".home.parts.PartsOutListActivity" />

        <!--配件出库详情-->
        <activity
            android:name=".home.parts.PartsOutDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <!--配件-->
        <activity android:name=".home.parts.PartsInListActivity" />

        <!--配件入库详情-->
        <activity android:name=".home.parts.PartsInDetailActivity" />

        <!--日用品出入库-->
        <activity
            android:name=".home.parts.LifeGoodsOutInActivity"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustResize" />
        <!--日用品列表-->
        <activity
            android:name=".home.parts.LifeGoodsListActivity"
            android:hardwareAccelerated="false" />
        <!--日用品详情-->
        <activity android:name=".home.parts.LifeGoodsDetailActivity" />
        <!--日用品出库记录-->
        <activity android:name=".home.parts.LifeGoodsOutRecordActivity" />
        <!--日用品出库详情-->
        <activity android:name=".home.parts.LifeGoodsOutDetailActivity" />
        <!--日用品出库-->
        <activity android:name=".home.parts.LifeGoodsOutActivity" />
        <!--机械维修申请-->
        <activity
            android:name=".home.machinery.MaintenanceRequestActivity"
            android:windowSoftInputMode="adjustResize" />
        <!--机械维修记录-->
        <activity
            android:name=".home.machinery.MaintenanceRecordActivity"
            android:hardwareAccelerated="false" />
        <!--机械维修记录详情-->
        <activity
            android:name=".home.machinery.MaintenanceRecordDetailActivity"
            android:hardwareAccelerated="false" />


        <!--个人信息-->
        <activity android:name=".mine.MyMessageActivity" />

    </application>

</manifest>