<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zzti.lsy.ninetingapp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />


        <provider
            android:name=".utils.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".photo.TestPhotoActivity" />
        <activity android:name=".home.CarListActivity" />
        <activity
            android:name=".home.ProductInputActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".home.SuccessActivity" />
        <activity android:name=".home.FormListActivity" />
        <activity android:name=".home.OneCarProDetailActivity" />
        <activity
            android:name=".home.PartsInputActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.PartsListActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".home.PartsDetailActivity" />
        <activity android:name=".home.InWayDetailActivity" />
        <activity android:name=".home.PartsOutListActivity" />
        <activity
            android:name=".home.PartsOutDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".home.PartsInListActivity" />
        <!--配件入库详情-->
        <activity android:name=".home.PartsInDetailActivity" />
        <!--日用品出入库-->
        <activity
            android:name=".home.LifeGoodsOutInActivity"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustResize" />
        <!--日用品列表-->
        <activity
            android:name=".home.LifeGoodsListActivity"
            android:hardwareAccelerated="false" />
        <!--日用品详情-->
        <activity android:name=".home.LifeGoodsDetailActivity" />
        <!--日用品出库记录-->
        <activity android:name=".home.LifeGoodsOutRecordActivity" />
        <!--日用品出库详情-->
        <activity android:name=".home.LifeGoodsOutDetailActivity" />
        <!--日用品出库-->
        <activity android:name=".home.LifeGoodsOutActivity" />
        <!--设备维修申请-->
        <activity
            android:name=".home.MaintenanceRequestActivity"
            android:windowSoftInputMode="adjustResize" />
        <!--个人信息-->
        <activity android:name=".mine.MyMessageActivity" />

    </application>

</manifest>